* {
    outline: none;
}

header .topo{
    float: right;
    padding-top: 12px;
    padding-bottom: 12px;
}

header .en-us{
    font-size:14px;
    color:#343434;
    text-decoration: none;
}

header .pt-br{
    font-size:14px;
    color:#343434;
    text-decoration: none;
    font-weight: bold;
}

header .en-us img{
   margin-right: 6px;
}
header .pt-br img{
   margin-left: 6px;
}

header .trabalhe-conosco{
    margin-left: 12px;
    text-decoration: none;
    font-weight: 500;
    font-size:18px;
    color:#FFFFFF;
    background-color:#C80012; 
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 23px;
    padding-right: 23px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}

header .modal-header{
    text-align: center;
    border: none;
    color: #DC304B;
    font-size: 22px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 15px;
}

header .modal-body{
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

header .modal-body h6{
    font-size:20px;
    font-weight: 500;
    margin:0px;
    padding-bottom: 41px;
}

header .modal-body .input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #343F4B;
    text-align: center;
    margin-bottom: 42px;
    text-align-last: center;

}
header .modal-body p{
    font-size: 16px;
    color:#343434;
    padding-bottom: 12px;
}

header .modal-body .btn-form{
    float:left;
    background-color: #343F4B;
    border-radius:0;
    font-size:12px;
    font-weight: bold;
    color:#FFFFFF;
    margin-bottom: 22px;
}

header .modal-body .btn-form:hover{
    background-color: #343F4B;
    color:#FFFFFF;
}

header .modal-body .nome-arquivo{
    float:left; 
    font-size: 14px;
    color:#7B7A7A;
    padding-left: 12px;
    padding-top:5px;
}

header .btn-header{
    float: left;
    clear: both;
   margin-left: 151px;
   background-color: #DC304B;
   font-size:18px;
   font-weight: bold;
   color:#FFFFFF;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 50px;
   padding-bottom: 5px;
}

header .btn-header:hover{
   background-color: #DC304B!important;
   color:#FFFFFF!important;
   border:0px;
}


header .btn-header:active {
    background-color: #DC304B!important;
    color:#FFFFFF!important;
    border:0px;

}


header .modal-body ul li{
    font-size: 20px;
    color:#DC304B;
    font-weight: 500;
    padding-bottom: 7px;
}

header .modal-content{
    margin-top:158px;
}
header .modal-content span{
   font-size: 43px;
   color:#343F4B;
}

header .modal-content span:hover{
   color:#343F4B!important;
}
header ul li a {
    text-decoration: none!important;
    cursor: pointer!important;
    font-size:18px;
    font-weight: 500;
    padding: 0px!important;
    padding-bottom:8px!important;
}
p {
    line-height: 1.5;
    margin:0px;
}
ul {
    padding: 0;
}

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
.container {
    max-width: 1200px!important;
    width: 100%;
}

 .menu-topo {
    height: 110px;
    border-radius: 0;
    margin-bottom: 0px;
    border: none;
    background-color: #ffffff;
}

.navbar-header .navbar-brand {
    height: 110px;
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-header img {
    margin-left: 15px;
}

ul.nav {
   padding-top: 48px;
}

header ul li{
    list-style: none;
    padding-left: 40px;
}

 header ul.nav>li>a:hover {
    border-bottom: 3px solid #C80012;
} 

 h5{
    text-align: center;
    font-size:30px;
    font-weight: bold;
    color:#DC304B;
    margin:0px;
    padding-top: 56px;
    padding-bottom:34px;
}

/* ===========codigo slyde=================== */
#slyde {
    height: 630px;
}
#slyde img {
    height: 630px;
    object-fit: cover;
}
#slyde .owl-prev {
   width: 30px;
   height: 100px;
   position: absolute;
   z-index: 10;
   top: 44%;
   left: 35px;
   display: block!important;
   border: 0px solid black;
}
#slyde .owl-next {
   width: 30px;
   height: 100px;
   position: absolute;
   z-index: 10;
   top: 44%;
   right: 10px;
   display: block!important;
   border: 0px solid black;
}
#slyde .owl-prev i,
#slyde .owl-next i {
   transform: scale(5,5);
   color: #121312;
}
#slyde  .owl-prev i:hover,
#slyde .owl-next i:hover {
   color: #e1e1e1;
}
#slyde .owl-prev i:hover,
#slyde .owl-next i:hover {
   color: #e1e1e1;
}
#slyde .owl-dots {
   text-align: center;
   width: 100%;
   position: relative;
   top: -40px;
}
#slyde .owl-dots .owl-dot {
   display: inline-block;
}
#slyde .owl-dots .owl-dot.active span,
#slyde .owl-dots .owl-dot:hover span {
   background: #121312;
}
#slyde .owl-dots .owl-dot span {
   width: 8px;
   height: 8px;
   margin: 5px;
   background: #ccc;
   display: block;
   -webkit-backface-visibility: visible;
   transition: opacity .2s ease;
   border-radius: 30px;
}

/* =========== fim codigo slyde=================== */

#empresa p{
  font-size: 19px;
  font-weight: 500;
  color:#343434;
  padding-bottom: 40px;
}

#empresa span{
    color:#DC304B;
}

#empresa .avaya{
    color:#DC304B;
    font-weight: 1000;
} 
#empresa .borda{
    border-right: 1px solid #F95F62;
    border-left: 1px solid #F95F62;
    padding-left: 33px;
    padding-right: 33px;
}

#empresa h6{
    text-align: center;
    color:#DC304B;
    font-size:22px;
    font-weight: 500;
    margin:0px;
    padding-bottom: 15px;
}

#empresa .alinhar{
    padding-bottom: 36px;
}

#empresa{
    padding-bottom: 36px;
}

#conteudo{
    background-image: url("../images/fundo.png");
    background-repeat: no-repeat;
}

#conteudo .container .flex{
    display: flex;
  justify-content: space-between;
}

#conteudo .centralizar{
    padding-top: 32px;
    padding-bottom: 32px;
}

#conteudo .centralizar .img{
    float: left;
}

#conteudo .central{
    float: left;
    text-align: center;
    padding-left: 15px;
    
}

#conteudo .centralizar p{
    font-size: 13px;
    font-weight: 500;
    color:#FFFFFF;
}

#conteudo .centralizar span{
   font-size: 19px;
   font-weight:bold;
   color:#FFFFFF;
} 

#conteudo .centralizar .servicos{
    font-size: 9px;
    font-weight: 500;
    width: 76px;
}

#conteudo .centralizar .paises{
   float: left;
   padding-top: 5px;
   clear: both;
}

#icones {
    padding-top:14px;
    padding-bottom:19px;
}

#icones span{
    font-size:15px;
    font-weight: 500;
    padding-right: 22px;
}

#icones .icone-vmware{
    padding-left:   26px;
    padding-right:   26px;
}
#solucoes{
   padding-top:55px;
   padding-bottom:28px;
   background-color: #343434;
}

#solucoes h5{
    padding:0px;
    padding-bottom: 60px;
    color:#BF012D;
}
#solucoes .centralizar{
    text-align: center;
    margin-bottom: 46px;
    
}

#solucoes .alinhar{
    padding-top: 99px;
    padding-bottom:115px;
}


#solucoes p{
    font-size:24px;
    font-weight: 500;
    padding-top:22px;
    color:#BF012D;
}

#solucoes .topo .p-topo{
    padding: 0px;
    float: left;
    padding-top:32px;
    font-size:20px;
    font-weight: 500;
}

#solucoes .topo ul{
    margin:0px;
    clear: both;
    text-align: left;
}

#solucoes .topo{
    padding-right: 26px;
    padding-left: 26px;
}
#solucoes .topo ul li{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
}

#solucoes .topo ul li::before{
    content: "\2022";
    color:#F95F62;
    font-size:17px;
    padding-right:5px;
}

#solucao-item-2{
    display: none;
}
#solucoes .img-topo{
    padding-top:18px;
    height: 60px;
}

#solucoes .img-topo{
    float: right;
}

#clientes {
  padding-top:45px;
  padding-bottom: 45px;
}

#clientes ul{
  padding:0px;
  border:none;
 margin-bottom: 50px;
}
#clientes h5{
    padding:0px;
    padding-bottom:37px;
}
#clientes ul li {
    text-align: center;
}
#clientes ul li a{
    padding: 0px;
    text-align: center;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #343434;
    padding: 12px 30px;
}
#clientes ul li a:hover{
    color: #ffffff;
    text-decoration: none;
    background-color: #DC304B;
    border-radius: 50px;
    padding: 12px 30px;
}
#clientes img{
   width: 174px;
   margin: 0 auto;
   display: block;
}
#clientes .owl-prev {
   width: 30px;
   height: 100px;
   position: absolute;
   z-index: 10;
   top: 44%;
   left: 35px;
   display: block!important;
   border: 0px solid black;
}
#clientes .owl-next {
   width: 30px;
   height: 100px;
   position: absolute;
   z-index: 10;
   top: 44%;
   right: 10px;
   display: block!important;
   border: 0px solid black;
}
#clientes .owl-prev i,
#clientes .owl-next i {
   transform: scale(5,5);
   color: #121312;
}
#clientes  .owl-prev i:hover,
#clientes .owl-next i:hover {
   color: #e1e1e1;
}
#clientes .owl-prev i:hover,
#clientes .owl-next i:hover {
   color: #e1e1e1;
}
#clientes .owl-dots {
   text-align: center;
   width: 100%;
   position: relative;
}
#clientes .owl-dots .owl-dot {
   display: inline-block;
}
#clientes .owl-dots .owl-dot.active span,
#clientes .owl-dots .owl-dot:hover span {
   background: #121312;
}
#clientes .owl-dots .owl-dot span {
   width: 8px;
   height: 8px;
   margin: 5px;
   background: #ccc;
   display: block;
   -webkit-backface-visibility: visible;
   transition: opacity .2s ease;
   border-radius: 30px;
}

#clientes .owl-stage{
    display: flex;
    justify-content: center;
    align-items: center
}

#portfolio{
    background-color: #F9FAFC;
    padding-top: 52px;
    padding-bottom: 52px;

}

#portfolio h5{
    padding-top:0px;
    padding-bottom: 60px;
}

#portfolio .item{
    text-align: center;
}

#portfolio .item-img{
    padding-top: 56px;
}

#portfolio h6{

    font-size:20px;
    font-weight: bold;
    margin:0px;
    padding-bottom:16px;
    color:#343434

}

#portfolio p{
    padding-bottom: 40px;
    font-size:18px;
    font-weight: 500;
    color:#343434;
}

 #portfolio .img-avaia{
 padding-top: 203px
}
#portfolio .img-micro{
 padding-top: 56px;
}
#portfolio .borda{
    margin-top:25px;
    border-top:1px solid #DC304B;
    margin-bottom: 52px;
}

#portfolio .conteudo{
    padding-top: 0px;
    border-right:1px solid #DC304B;
}

#portfolio .centralizar{
    text-align: center;
    padding-right: 67px;
}

#portfolio h6{
    padding-bottom: 9px;
}

#portfolio span {
   font-size:18px;
   font-weight: 500;
   color:#343434;
}

#portfolio .item{
    text-align: center;
}

#suporte{
    padding-top:66px;
    padding-bottom:50px;
}

#suporte h5{
   padding:0px;
   padding-bottom:41px;
}

#suporte h6{
    margin:0px;
    font-size:22px;
    font-weight: bold;
    color:#343434;
    padding-bottom:28px;
}

#suporte p{
    font-size:18px;
    padding-bottom: 42px;
    color:#343434;
}

 #suporte a {
  padding-left: 22px;
  text-decoration: none;
  font-size:16px;
   font-weight: 500;
   color:#FFFFFF

}

#suporte th{
    background-color:#DC304B;
    text-align: center;
    font-size:20px;
    font-weight: bold;
    color:#FFFFFF
}
 #suporte td {
  background-color:#343F4B;
   text-align: center;
   font-size:16px;
   font-weight: 500;
   color:#FFFFFF
}
#suporte .link{
    text-align: left;
}

#suporte span{
    float: right;
    padding-right: 12px;
    font-size: 20px;
}

#suporte .circulo{
    width: 175px;
    height: 175px;
    text-align: center;
    margin: 0 auto;
    margin-top: 16px;
    background-color: #F95F62;
    border-radius: 50%;
    padding-top: 50px;
}

#suporte .circulo a{
    padding:0px;
    font-size:25px;
    font-weight: bold;
    color:#FFFFFF;
}

#suporte .modal-header{
    border: none;
    text-align: center;
    padding: 0px;
    padding-top: 10px;
}

#suporte .modal-header span{
    font-size: 35px;
    color:#343F4B;
}
#suporte .modal-header h4{
    margin-top: 33px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    color:#DC304B;
    
}

#suporte .modal-body{
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    padding-bottom: 25px;
}
#suporte .input{
   margin-bottom: 36px;
    text-align: center;
    border:1px solid #343F4B;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    width: 100%;
    text-align-last: center; 
}

#suporte .textarea{
    border:0.5px solid #343F4B;
    width: 100%;
    padding-left: 10px;
}

/* #suporte select{
text-align: center;
} */


#suporte .modal-header p{
    padding: 0px;
    padding-bottom: 30px;
}
#suporte .btn{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 45px;
    background-color: #DC304B;
    color:#FFFFFF;
    font-size:18px;
    font-weight: bold;

}
#contato {
    background-color: #F9FAFC;
    padding-top:61px;
    padding-bottom:73px;
}

#contato h5{
    padding:0px;
    padding-bottom: 42px;
}

#contato .conteudo{
    background-color: #343F4B;
    float: left;
    width: 70%; 
    padding-top: 25px;
    padding-bottom:22px;
    padding-left: 21px;

}
#contato .relogio,
.fone{
    background-color: #343F4B;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 58px;
 }
#contato h6{
    margin:0px;
    font-size:20px;
    font-weight: bold;
    border-bottom:1px solid #DC304B;
    color:#FFFFFF;
    padding-bottom: 8px;
}

#contato p{
    font-size:16px;
    color:#FFFFFF;
    padding-top:12px;
   
}

#contato .borda-externa{
    margin-top:50px;
    border:1px solid #E6E6E6;
    background-color:#FFFFFF; 
    position: relative;
}

#contato .borda-externa h6{
    color:#DC304B;
    border:none;
    font-size:22px;
    font-weight: 500;
    padding-bottom: 19px;
    text-align: center;
}

#contato .borda-externa p{
    color:#343434;
    font-size:20px;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom:30px;
}

#contato .centralizar{
     padding-top:23px;
    padding-left:52px;
    padding-right: 52px;
   
}

#contato .borda-externa label{
    font-size:18px;
    color:#343434;
    padding-bottom: 20px;
    
}

#contato .borda-interna{
    padding-left:16px;
    padding-left:16px;
    border-bottom:1px solid #343F4B;
    padding-bottom: 120px;
    margin-bottom:45px;
}

#contato .borda-externa span{
    padding-left: 10px;
    font-size:16px;
    font-weight: 500;
    color:#343434;
}

#contato .borda-externa .borda-rolagem{
   border-bottom:4px solid #DC304B;
    width:25%;
    margin-top:8px;
}

#contato .borda-rolagem2{
    border-bottom:4px solid #DC304B;
    width:50%;
    margin-top:8px;
}

#contato .paragrafo2{
    text-align: center;
}

#contato .centralizar .input{
    border-top:0px;
    border-left:0px;
    border-right:0px;
    width: 100%;
    text-align: center;
   margin-bottom: 230px;

}

#item-2,
#item-3,
#item-4 {
    display: none;
}

#contato .centralizar textArea{
    margin-bottom:164px;
}
#contato .borda-rolagem3{
    border-bottom:4px solid #DC304B;
    width:75%;
    margin-top:8px;
}

#contato .borda-rolagem4{
    border-bottom:4px solid #DC304B;
    width:100%;
    margin-top:8px;
}
#contato .input-slyde4{
    border-top:0px;
    border-left:0px;
    border-right:0px;
    width: 100%;
    text-align: center;
    margin-bottom:62px;
}

#contato .input2-slyde4{
    border-top:0px;
    border-left:0px;
    border-right:0px;
    width: 100%;
    text-align: center;
    margin-bottom:39px;
}

#contato .centralizar .btn{
   padding-left: 20px;
   padding-right: 20px;
   border-radius:50px;
   background-color: #DC304B;
   color:#ffffff;
}
#contato .centralizar .bto{
    text-align: center;
}

#contato .borda-externa .btn-proximo-direita{
    position: absolute;
    top: 40%;
    right: 0%;
    border: none;
    color:#ffffff!important;
    background: transparent;
}

#contato .borda-externa .btn-proximo-esquerda{
    position: absolute;
    top:40%;
    border: none;
    color:#ffffff!important;
    background: transparent;
}

#contato .borda-externa .seta{

    font-size: 30px;
    padding: 0px;
}
#contato .borda-externa .btn-proximo-esquerda:hover{
    color:#ffffff!important;
}

#contato .borda-externa .btn-proximo-direito:active, #contato .borda-externa .btn-proximo-direito:hover{
    color:#ffffff!important;
}
footer{
    background-color: #343F4B;
    padding-bottom: 50px;
}

.menu-footer{
    background-color: #343F4B!important;
    border:none;
}

footer .lista-footer{
    padding-top: 30px;
    padding-top: 30px;
    list-style-type: none;
}

footer .redes{
    padding-top: 48px;
}

footer .face-footer{
    padding-right: 22px;
}

footer ul li{
   margin-bottom: 10px;
}
footer .lista-footer a{
    color:#FFFFFF!important;
    padding-left: 10px;
    padding-right: 10px;
  
}

footer p{
    font-size: 12px;
    color:#FFFFFF;
    padding-left: 28px;
}

/* .item{display: none;} */

/* .item.activa{display: block;} */


.owl-carousel .owl-stage-outer{
    float: left;
    clear: both;
    width: 100%;
}

@media(max-width:351px){
    #contato .relogio, .fone {
    padding-bottom: 113px;
}
}
@media (max-width:475px){

    footer .face-footer{
   width: 57px;
    padding: 15px;
    margin-bottom:10px;
}

  footer .linkedin-footer{
   width: 46px;
   padding-left:15px;
  }
  footer .redes {
    padding-top: 10px;
  }
    #clientes .link{
        margin-bottom:30px;
    }

    #clientes ul li a {
    font-size: 15px;
    padding: 0px;
    }

    #clientes ul li a:hover {
    padding: 6px 10px;
    }
    
}
@media(max-width:767px){

    .menu-topo {
         height: auto;
    }  
    header .trabalhe-conosco {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    }
    header .pt-br img {
        margin-left: 3px;
    }
    header .en-us img {
        margin-right: 3px;
    }
    .navbar-header img {
        margin-left: 5px;
        width: 224px;
    }

    .navbar-default .navbar-toggle {
        margin-top: 40px;
    }
    #empresa .borda {
    padding:0px;
    border:none;
    }

    ul.nav {
    padding-top: 15px;
    }

    h5 {
    padding-top: 27px;
    padding-bottom: 12px;
    }

    #empresa p {
        padding-bottom: 15px;
        text-align: center;
    }

    #empresa {
    padding-bottom: 20px;
    }

    #conteudo-mobile{
    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flow-root!important;
    padding-top:30px;
    padding-bottom:30px;
    }

    #conteudo-mobile .item{
    margin-bottom: 40px;
    }

    #solucoes #solucao-item-1 .indicar{
    text-align: center;
    }

    #solucoes #solucao-item-2 .indicar{
    text-align: center;
    }

    #solucao-item-1 .btn-direita, #solucao-item-2 .btn-esquerda{
     height: 37px;
     border-radius: 50%;  
    }

    #solucoes .setinha{
        font-size:18px;
        color:#F95F62;
    }

    #clientes ul li {
    text-align: center;
    margin-bottom: 20px;
   }

   #portfolio .img-avaia {
    padding-top: 0px; 
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
   }

   #portfolio .img-avaia-mobile{
       width: 122px;
   }
   #portfolio {
    padding-top: 17px;
    padding-bottom: 29px;
   }

   #portfolio h5 {
    padding-bottom: 29px;
   }

  #portfolio p {
    padding-bottom: 20px;
  }

  #portfolio .borda {
   margin-top: 60px;
    border-top: 1px solid #DC304B;
    margin-bottom: 0px;
  }
  #portfolio .conteudo {
    padding-top: 0px;
    border-right: none; 
    border-bottom: 1px solid #DC304B;
    padding-bottom: 30px;
   }

   #portfolio .img-micro {
    padding-top: 37px;
    text-align: center;
  }

  #portfolio .centralizar {
    padding-top: 20px;
    padding-right: 0;
 }

 #portfolio .item-img {
    padding-top: 25px;
    text-align: center;
}

#suporte {
    padding-top: 35px;
    padding-bottom: 35px;
}

#suporte h5 {
    padding-bottom: 22px;
}

footer .lista-footer a{
    padding-left: 0px;
    padding-right: 0px;
  
}
  

    
    .item-conteudo .central {
        color: #fff;
        margin-top: 10px;
    }
    #slyde {
        height: 300px;
    }
    #slyde img {
        height: 300px;
    }
    .item-conteudo {
        margin-bottom: 50px;
    }
    #icones span {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    #icones .icone-vmware {
        padding-left: 10px;
        padding-right: 10px;
    }
    #suporte p {
        text-align: justify;
    }
    #suporte .modal-header p {
        text-align: center;
    }
    #contato .borda-interna {
        padding-left: 0;
        padding-bottom: 80px;
    }
    #contato .centralizar {
        padding-left: 25px;
        padding-right: 25px;
    }
    #contato .borda-externa .btn-proximo-direita,
    #contato .borda-externa .btn-proximo-esquerda {
        padding: 0;
    }
    header .topo {
        padding-top: 7px;
    }
    
    .wrapper {
        position: relative;
        z-index: 2;
    }
    .wrapper a,
    .wrapper a:hover,
    .wrapper a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    .wrapper .navbar {
        background: transparent;
        border: none;
    }
    .wrapper .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }
    .wrapper .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }
    .wrapper #sidebar {
        width: 250px;
        position: fixed;
        top: 0;
        right: -250px;
        height: 400px;
        z-index: 999;
        background: #343F4B;
        color: #fff;
        transition: all 0.3s;
        overflow-y: scroll;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    }
    .wrapper #sidebar.active {
        right: 0;
    }
    .wrapper #dismiss {
        position: absolute;
        top: 17px;
        right: 20px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .wrapper #dismiss:hover {
        background: #fff;
        color: #7386D5;
    }
    .wrapper .overlay {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 998;
        display: none;
    }
    .wrapper #sidebar .sidebar-header {
        padding: 0 20px;
    }
    .wrapper #sidebar .sidebar-header h3 {
        font-size: 20px;
        font-weight: bold;
        color: #F9FAFC;
        text-transform: uppercase;
    }
    .wrapper #dismiss .fa {
        font-size: 24px;
    }
    .wrapper #sidebar ul.components {
        padding-top: 30px;
        text-align: right;
    }
    .wrapper #sidebar ul p {
        color: #fff;
        padding: 10px;
    }
    .wrapper #sidebar ul li {
        padding-left: 0;
        padding-right: 20px;
        padding-bottom: 5px;
    }
    .wrapper #sidebar ul li a {
        font-size: 16px;
        color: #F9FAFC;
        display: block;
    }
    .wrapper #sidebar ul li a:hover {
        color: #343F4B;
        background: #fff;
    }
    .wrapper #sidebar ul li.active > a,
    .wrapper a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }
    .wrapper a[data-toggle="collapse"] {
        position: relative;
    }
    .wrapper a[aria-expanded="false"]::before,
    .wrapper a[aria-expanded="true"]::before {
        content: '\e259';
        display: block;
        position: absolute;
        right: 20px;
        font-family: 'Glyphicons Halflings';
        font-size: 0.6em;
    }
    .wrapper a[aria-expanded="true"]::before {
        content: '\e260';
    }
    .wrapper ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #6d7fcc;
    }
    .wrapper ul.CTAs {
        padding: 20px;
    }
    .wrapper ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    .wrapper a.download {
        background: #fff;
        color: #7386D5;
    }
    .wrapper a.article,
    .wrapper a.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }
    .wrapper #content {
        transition: all 0.3s;
    }
    #clientes img {
        margin: 30px auto;
    }
    .imghvr-fade {
        height: 330px;
    }
    .fig {
        display: none;
        height: 330px;
    }
    #owl-solucao img {
        width: auto!important;
        margin: 0 auto;
    }
    #clientes .owl-next,
    #clientes .owl-prev {
        margin-top: 90%;
    }
}

@media (min-width:768px) and (max-width: 991px){

  #conteudo .central {
    clear: both;
    padding-left: 0px;
    padding-top: 6px;
 }
}

